{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div class="container-fluid py-4">
    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-header bg-danger py-3 text-white rounded-top-4">
            <h3 class="card-title mb-0 fw-bold"><i class="fas fa-user-shield me-2"></i>Cadastrar Recepcionista</h3>
        </div>
        <form action="{% url 'add_recepcionista_save' %}" method="post" class="card-body p-4">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-8">
                    <label class="form-label fw-bold">Nome Completo</label>
                    <input type="text" name="nome_completo" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-bold">CPF</label>
                    <input type="text" name="cpf" class="form-control cpf" placeholder="529.982.247-25" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">E-mail (Login)</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Senha Inicial</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Telefone</label>
                    <input type="text" name="telefone" class="form-control phone" placeholder="(00) 0 0000-0000">
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Data de Nascimento</label>
                    <input type="date" name="data_nasc" class="form-control" value="{{ recepcionista.data_nascimento|date:'Y-m-d' }}">
                </div>
                <div class="col-md-12">
                    <label class="form-label fw-bold">Endereço Residencial</label>
                    <textarea name="endereco" class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="text-end mt-4">
                <button type="submit" class="btn btn-danger px-5 fw-bold shadow-sm">Salvar Recepcionista</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        $('.cpf').mask('000.000.000-00');
        $('.phone').mask('(00) 0 0000-0000');
    });
</script>
{% endblock %}
